###  Import libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn import metrics
from scipy import stats
from sklearn.model_selection import cross_val_score, train_test_split
from sklearn.linear_model import LinearRegression, RidgeCV, LassoCV
from sklearn.preprocessing import StandardScaler
import statsmodels.api as sm

### Read in and clean data

In [2]:
#read in training data

houses = pd.read_csv('./datasets/train.csv')

In [3]:
#read in test data for kaggle submission

houses_test = pd.read_csv('./datasets/test.csv')

In [10]:
#data cleaning function feature interaction variables added

def clean_data_added_features(df):
    
    #lowercase columns
    df.columns = df.columns.str.lower().str.replace(' ', '_')
    
    #ordinal data dictionary 
    ord_dict = {
        'Ex' : 5,
        'Gd' : 4,
        'TA' : 3,
        'Fa' : 2,
        'Po' : 1,
        0    : 0
    }
    
    #basement finish dictionary
    bsmt_fin_dict = {
       'GLQ' : 5,
       'ALQ' : 4, 
       'BLQ' : 3,
       'Rec' : 3,
       'LwQ' : 2,
       'Unf' : 1,
        0    : 0
    }
        
    # fil lot frontage empties with mean value
    lot_frontage_mean = df['lot_frontage'].mean()
    df['lot_frontage'].fillna(lot_frontage_mean, inplace=True)
    
    #fill NA values with 'none' for nominal data when appropriate according to data dictionary
    df['alley'].fillna('None', inplace=True)
    df['mas_vnr_type'].fillna('None', inplace=True)
    df['garage_type'].fillna('None', inplace=True)
    df['misc_feature'].fillna('None', inplace=True)
    
    #ordinal mapping for lot shape
    df['lot_shape'] = df['lot_shape'].map({'Regular': 4, 'IR1': 3 , 'IR2' : 2,  'IR3' : 1})     
    
    #ordinal mapping for utilities
    df['utilities'] = df['utilities'].map({'AllPub': 4, 'NoSeWa': 3 , 'NoSewr' : 2, 'ELO': 1})   
    
     #ordinal mapping for land slope
    df['land_slope'] = df['land_slope'].map({'Gtl': 3, 'NMod': 2 , 'Sev' : 1})     
    
    #ordinal mapping for basement exposure
    df['bsmt_exposure'] = df['bsmt_exposure'].map({'Gd': 3, 'Av': 2 , 'Mn' : 1, 'No': 0})     
    
    #ordinal mapping for electrical
    df['electrical'] = df['electrical'].map({'SBrkr': 4, 'FuseA': 3 , 'FuseF' : 2, 'FuseP': 1, 'Mix' : 2})    
    
    #ordinal mapping for functional
    df['functional'] = df['functional'].map({'Typ': 5, 'Min1':4 , 'Min2':4, 'Mod':3, 'Maj1':2, 'Maj2':2, 'Sev':1, 'Sal':1})    

     #garage finish ordinal mapping
    df['garage_finish'] = df['garage_finish'].map({'Fin': 3, 'RFn': 2 , 'Unf' : 1})     
    
     #driveway paving ordinal mapping
    df['paved_drive'] = df['paved_drive'].map({'Y': 3, 'P': 2 , 'N' : 1})         
    
    #ordinal mapping for fencing
    df['fence'] = df['fence'].map({'GdPrv': 4, 'MnPrv': 3 , 'GdWo' : 2, 'MnWw': 1})     
    
    #fill all other nulls with 0 vals
    df.fillna(0, inplace=True)    

    #casting values based on the basement finish dictionary 
    df['bsmtfin_type_1'] = df['bsmtfin_type_1'].map(bsmt_fin_dict)
    df['bsmtfin_type_2'] = df['bsmtfin_type_2'].map(bsmt_fin_dict)
    
    #casting values based on the ordinal dictionary  
    df['exter_qual'] = df['exter_qual'].map(ord_dict)
    df['exter_cond'] = df['exter_cond'].map(ord_dict)
    df['bsmt_qual'] = df['bsmt_qual'].map(ord_dict)
    df['bsmt_cond'] = df['bsmt_cond'].map(ord_dict)
    df['heating_qc'] = df['heating_qc'].map(ord_dict)
    df['kitchen_qual'] = df['kitchen_qual'].map(ord_dict)
    df['fireplace_qu'] = df['fireplace_qu'].map(ord_dict)   
    df['garage_qual'] = df['garage_qual'].map(ord_dict)    
    df['garage_cond'] = df['garage_cond'].map(ord_dict)    
    df['pool_qc'] = df['pool_qc'].map(ord_dict)  
    
    #feature extraction
    df['house_age'] = 2011 - df['year_built']
    df['remod_age'] = 2011 - df['year_remod/add']   
    df['total_bath'] = df['full_bath'] + df['half_bath']
    
    #drop columns that were replaced by age
    df.drop(columns=['year_built', 'year_remod/add'], inplace=True)  
    
    #feature interactions
    df['bed_x_bath'] = df['full_bath'] * df['bedroom_abvgr']
    df['bed_x_total_bath'] = df['total_bath'] * df['bedroom_abvgr'] 
    df['total_rms_x_total_bath'] = df['total_bath'] * df['totrms_abvgrd']     
    
    df['overall'] = df['overall_qual'] * df['overall_cond'] * df['functional']
    df['exter_overall'] = df['exter_qual'] * df['exter_cond']
    df['bsmt_overall'] = df['bsmt_qual'] * df['bsmt_cond']
    df['garage_overall'] = df['garage_qual'] * df['garage_cond'] 
    
    df['ages'] = df['house_age'] * df['remod_age']  
    df['log_ages'] = np.log(df['ages'])
    
    df['kitchen_qual_x_number'] = df['kitchen_qual'] * df['kitchen_abvgr']
    
    #one hot encode year house was sold to separate out for financial crisis
    df = pd.get_dummies(df, columns=['yr_sold'], drop_first=True)
    
    #one hot encode ms subclass for info on type of house
    df = pd.get_dummies(df, columns=['ms_subclass'], drop_first=True)
    
    #one hot encode all categorical features
    df = pd.get_dummies(df, drop_first=True)
    
    #lowercase columns after get dummies
    df.columns = df.columns.str.lower().str.replace(' ', '_')
    
    return df
    
#modified this code after example from Chuck's optional pipeline lesson

### Fit Linear Regression Model #5 to training data

In [31]:
#make copy of training data to read in for model

houses2= houses.copy()

In [32]:
#use data cleaning function on houses df

houses2 = clean_data_added_features(houses2)

In [33]:
# drop all outliers for modeling

houses2 = houses2[houses2['gr_liv_area']<4000]

houses2 = houses2[houses2['bedroom_abvgr']<8]

houses2 = houses2[houses2['lot_area']<100_000]

houses2 = houses2[(houses2['kitchen_abvgr']==1) | (houses2['kitchen_abvgr']==2)]

houses2 = houses2[houses2['bed_x_bath']>0]

houses2 = houses2[houses2['totrms_abvgrd']<13]

In [34]:
houses2.shape

(2033, 227)

In [35]:
#training data with model #5 features

features =  ['lot_area' , 'overall_qual', 'overall', 'overall_cond',
             'house_age', 'log_ages', 'remod_age', 'exter_qual', 
             'bsmt_exposure',  'bsmt_overall',
             'total_rms_x_total_bath','gr_liv_area' , 'totrms_abvgrd','total_bath',
             'kitchen_qual' ,'functional' , 'garage_area', 'garage_overall', 
             'condition_1_norm', 'condition_1_posa', 'condition_1_posn','condition_1_feedr',
             'bldg_type_duplex', 'bldg_type_twnhs', 'bldg_type_twnhse',
             'neighborhood_brdale', 'neighborhood_collgcr', 'neighborhood_edwards','neighborhood_gilbert', 
             'neighborhood_nwames', 'neighborhood_nridght',
             'neighborhood_sawyerw', 'neighborhood_stonebr']


X = houses2[features]

y = houses2['saleprice']

In [36]:
#instantiate LR and fit to training data

lr = LinearRegression()
lr.fit(X, y)

LinearRegression()

### Kaggle Submission using Linear Regression model #5

In [37]:
#copy of test dataset to work with 

houses_test1 = houses_test.copy()

In [38]:
houses_test1 = clean_data_added_features(houses_test1)

In [39]:
features =  ['lot_area' , 'overall_qual', 'overall', 'overall_cond',
             'house_age', 'log_ages', 'remod_age', 'exter_qual', 
             'bsmt_exposure',  'bsmt_overall',
             'total_rms_x_total_bath','gr_liv_area' , 'totrms_abvgrd','total_bath',
             'kitchen_qual' ,'functional' , 'garage_area', 'garage_overall', 
             'condition_1_norm', 'condition_1_posa', 'condition_1_posn','condition_1_feedr',
             'bldg_type_duplex', 'bldg_type_twnhs', 'bldg_type_twnhse',
             'neighborhood_brdale', 'neighborhood_collgcr', 'neighborhood_edwards','neighborhood_gilbert', 
             'neighborhood_nwames', 'neighborhood_nridght',
             'neighborhood_sawyerw', 'neighborhood_stonebr']

X_test1 = houses_test1[features]

In [40]:
#predict prices on test data

houses_test1['saleprice'] = lr.predict(X_test1)

In [45]:
houses_test1.head()

,id,pid,lot_frontage,lot_area,lot_shape,utilities,land_slope,overall_qual,overall_cond,mas_vnr_area,...,sale_type_cwd,sale_type_con,sale_type_conld,sale_type_conli,sale_type_conlw,sale_type_new,sale_type_oth,sale_type_vwd,sale_type_wd_,saleprice
0,2658,902301120,69.000000,9142,0.0,4,3.0,6,8,0.0,...,0,0,0,0,0,0,0,0,1,162762.382657
1,2718,905108090,69.545961,9662,3.0,4,3.0,5,4,0.0,...,0,0,0,0,0,0,0,0,1,165920.621847
2,2414,528218130,58.000000,17104,3.0,4,3.0,7,5,0.0,...,0,0,0,0,0,1,0,0,0,229700.098849
3,1989,902207150,60.000000,8520,0.0,4,3.0,5,6,0.0,...,0,0,0,0,0,0,0,0,1,125476.434515
4,625,535105100,69.545961,9500,3.0,4,3.0,6,5,247.0,...,0,0,0,0,0,0,0,0,1,156811.013009

In [46]:
#remove all extra columns

houses_test1 = houses_test1.drop(houses_test1.loc[: , 'pid':'sale_type_wd_'].columns, axis=1)

In [47]:
#double check data format is correct

houses_test1.head()

     id      saleprice
0  2658  162762.382657
1  2718  165920.621847
2  2414  229700.098849
3  1989  125476.434515
4   625  156811.013009

In [131]:
#export submission to csv

houses_test1.to_csv('./datasets/submissionRF', index=False)